@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F3F3F3;
  }
/* FONT-WEIGHT REFERENCIA
thin--100
extraLight--200
light--300
regular--400
medium--500
semiBold--600
bold--700
extraBold--800
black--900 */
h1{
  font-weight:900;
  font-size: 64px;
}
h2{
  font-weight: 600;
  font-size: 48px;
}
h3{
  font-weight: 500;
  font-size: 32px;
}
h4{
  font-weight: 600;
  font-size: 20px;
}
h5{
  font-weight: 500;
  font-size: 17px;
}
h6{
  font-weight: 300;
  font-size: 16;
}
.seccion{
  p{
    font-weight: 300;
  font-size: 24px;
  }
  img{
    width: 90vw;
    height: auto;
  }
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212121;
}
#portada{
  img{
    width: 90vw;
  }
}
header{
    background-color: #131313;
    height: 90px;
    width: 100vw;
    padding-left: 120px;
    padding-top: 20px;
  }
hr{
    border: 1px solid #757575;
  }
.formulario{
  background-color: #131313;
  text-align: center;
  img{
    width: 90vw;
  }
}
.btn{
  background-color: #E4A00C;
  text-align: center;
  a{
    color: #131313;
    font-weight: 700;
    font-size: 24px;
  }
}
.contenedor-bullets{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bullets p{
  font-weight: 400;
  font-size: 16px;
}
.logo img{
    height: 64px;
    width: auto;
  }
footer{
  background-color: #131313;
  height: 385px;
  width: 100%;
}