@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F3F3F3;
  }

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212121;
}

header{
    background-color: #131313;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

.logo img{
    height: 64px;
    width: auto;
    margin-left: 20px;
}

/* FONT-WEIGHT REFERENCIA
thin--100
extraLight--200
light--300
regular--400
medium--500
semiBold--600
bold--700
extraBold--800
black--900 */
h1{
  font-weight:900;
  font-size: 64px;
}

h2{
  font-weight: 600;
  font-size: 48px;
}

h3{
  font-weight: 500;
  font-size: 32px;
}

h4{
  font-weight: 600;
  font-size: 20px;
}

h5{
  font-weight: 500;
  font-size: 17px;
}

h6{
  margin-bottom: 0%;
  font-weight: 300;
  font-size: 16;
}

.seccion-1, .seccion-2{
  p{
  font-weight: 300;
  font-size: 24px;
  }
}
.seccion-1{
  display: flex;
}
.seccion-1 .caja-texto{
  margin: 20px;
}
.seccion-1 .imagenes{
  justify-content: right;
}
#portada{
  display: flex;
  justify-content: center;
}

.columna-1{
  margin: 20px;
}

.columna-2 img{
  margin: 20px;
  justify-content: right;
}

button{
  background-color: #E4A00C;
  text-align: center;
  color: #131313;
  font-weight: 700;
  font-size: 24px;
  width: 408px;
  height: 80px;
  border-radius: 8px;
  box-shadow: none;
  border: none;
}
.banner{
  background-color:#131313;
  height: 60px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  ul{
    list-style: none;
    li{
      padding: 0 10px 0 10px;
      color: #E4A00C;
      display: inline;
    }
  }
}
.imagenes{
  margin: 20px;
  padding: 0%;
  img{
 width: 590px;
 height:397px;
}
  }


.contenedor-bullets{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bullets p{
  font-weight: 400;
  font-size: 16px;
}

hr{
    border: 1px solid #757575;
    width: 1200px;
  }

.formulario{
  background-color: #131313;
  text-align: center;
  width: 700px;
  margin: 20px;
  border-radius: 10px;
  img{
    width: 590px;;
    height: auto;
  }
}

footer{
  background-color: #131313;
  width: 100%;
}