@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #F3F3F3;
  }
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212121;
}
header{
    background-color: #131313;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 90px;
  }
.logo img{
    height: 64px;
    width: auto;
  }
.imagen img{
  width: 589px;
  height: 397px;
}
footer{
  background-color: #131313;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height: 385px;
}